:root {
  --white: #fffff; 
}

@font-face {
  font-family: "MontSerrat Medium";
  src: url("./fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("./fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(175, 173, 173);
}

/* Mobile */
@media screen and (min-width:300px) and (max-width: 480px) {

  .backgroundImage {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 334px;
    height: 123px;
    border-radius: 10px;
  }
  
}

/* Tablet */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .backgroundImage {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 600px;
    height: 180px;
    border-radius: 10px;
  }
}

.App-header {
  display: flex;
  justify-content: center;
}

.backgroundImage img{
  margin-top: 20px;
  width: 81rem;
  height: 14rem;
  border-radius: 10px;
}

.profilePicture {
  display: flex;
  justify-content: center;
  position: inherit;
}

.profilePicture img{
  margin-top: -110px;
  width: 200px;
  height: 200px;
  border-radius: 120px;
  border: solid #fff 20px;
}

.profileName {
  text-align: center;
}

.profileName h1, h2 {
  font-family: 'Bebas Neue';
  font-size: 50px;
}

.profileName h2 {
  margin-top: -30px;
  font-size: 40px;
}

.listContacts {
  display: flex;
  justify-content: center;
  gap: 70px;
}
.listContacts-style {
  text-align: center;
}

.listContacts-style p {
  font-family: 'Bebas Neue';
}

.listContacts-style img {
  width: 30px;
  height: 30px;
}

.buttonSection {
  display: flex;
  justify-content: center;
}

.buttonSection button {
  width: 9rem;
}